.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--graphite);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  .menu_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu_title {
    color: var(--lime);
  }
  .menu_nav {
    border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: start;
  }
}
