.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 274px;
  height: 100vh;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: column !important;
  background: var(--graphite);
  padding: 10px 40px 150px 20px;
  z-index: 9999;
  overflow-y: scroll;
}
.menu_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.icon {
  height: 40px;
}

.icon:hover,
.icon:focus {
  color: var(--lime);
}

.menu_title {
  font-size: 24px;
  color: var(--lime);
}

.menu_list {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.menu_nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.header_nav_item {
  width: 100%;
  font-size: 18px;
  display: flex;
}

.header_nav_item_link {
  transition: all 0.5s ease-in-out;
}

.header_nav_item_link:hover,
.header_nav_item_link:focus {
  color: var(--lime);
}

.lottie {
  width: 2rem;
  height: 2rem;
}

.header_nav_item_button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: var(--white);
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.header_nav_item_button:hover,
.header_nav_item_button:focus {
  color: var(--lime);
}

.social {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 144px;
  }
}

.social_link:hover,
.social_link:focus {
  transform: rotate(10deg);
}

.contacts {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}
@media screen and (min-width: 430px) {
  .contacts {
    gap: 36px;
  }
}

.contacts_list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.contacts_item_title {
  display: none;
}

@media screen and (min-width: 430px) {
  .contacts_item_title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }
}

.contacts_item_link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.contacts_item_link:hover,
.contacts_item_link:focus {
  color: var(--lime);
}

.contacts_item_link_span {
  display: none;
}

@media screen and (min-width: 430px) {
  .contacts_item_link_span {
    display: block;
    font-size: 18px;
  }
}
