.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;

  .title {
    color: var(--black);
    font-size: 24px;
    text-align: center;
    margin-top: 40px;
    @media screen and (min-width: 430px) {
      font-size: 32px;
    }
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    .button_wrapper {
      width: 100%;

      .button {
        width: 100%;
        height: 60px;
        border-radius: 2rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--lime);
        font-size: 16px;
        font-weight: 500;
        color: var(--black);
        transition: all 0.5s ease-in-out;
        cursor: pointer;
      }
      .button:hover {
        background: var(--violet);
        color: var(--black);
      }
      .button:disabled {
        background: var(--lightgray);
        color: var(--white);
        cursor: not-allowed;
      }
      .button:disabled:hover {
        background: var(--gray);
        cursor: not-allowed;
      }
    }
  }
}
