.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  @media screen and (max-width: 450px) {
    gap: 0.5rem;
  }

  .input {
    flex: 1;
    height: 60px;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 1rem;
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
  }

  .input::placeholder {
    color: var(--white);
  }
  .search {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .button {
    width: 66px;
    min-width: 60px;
    height: 60px;
    color: var(--black);
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lime);
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      width: 216px;
    }
    @media screen and (min-width: 1280px) {
      width: 380px;
    }
  }

  .button:hover {
    background: var(--violet);
  }
}
