.wrapper {
  position: relative;
  display: flex; 
   justify-content: space-between; 
   align-items: center; 
  gap: 12px; 
  margin-bottom: 28px;
 

  .input {
    height: 60px;
    width: 80%;
    border-radius: 2rem;
    padding-left: 52px;
    border: 1px solid var(--white);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.5s ease-in-out;
    /* @media screen and (min-width: 430px) {
      min-width: 320px;
    } */
  }

  .input::placeholder {
    font-size: 16px;
    color: var(--lightgray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .search {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
  }

  .button {
    display: inline-block;
  min-width: 66px;
    height: 60px;
    color: var(--black);
    border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--lime);
    /* font-size: 16px; */
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    /* @media screen and (min-width: 430px) {
      min-width: 70px;
    } */
    @media screen and (min-width: 1280px) {
      width: 380px;
    }
  }

  .button:hover,
  .button:focus {
    background-color: var(--violet-light);
  }
  .button:active {
    background: var(--violet);
  }
}
