.wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;
  height: 64px;

  .input {
    margin-top: 5px;
    width: 100%;
    height: 43px;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
    color: var(--black);
    border-bottom: 1px solid var(--black);
  }

  /* .white {
    color: var(--black);
    border-bottom: 1px solid var(--black);
  } */

  .error {
    font-size: 14px;
    font-weight: 400;
    color: #da3c3c;
    position: absolute;
    bottom: -58%;
    left: 0;
    border-color: #da3c3c;
  }

  .eye {
    position: absolute;
    bottom: -40%;
    right: 5%;
    transform: translateY(-30%);
    color: var(--black);
    /* color: var(--gray-light); */
    cursor: pointer;
  }
}
