.thumb {
  max-height: 1400px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 16px;
  margin-top: 92px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 318px;
  padding: 20px 20px 50px 20px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black-admin);
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  margin-top: 60px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: none;
  background-color: var(--adminBG);
}
