.lottie {
  position: absolute;
  right: 17px;
  bottom: 115px;
  width: 171px;
  height: 242px;
  @media screen and (min-width: 430px) {
    width: 231px;
    height: 327px;
    right: 20px;
    bottom: 121px;
  }
  @media screen and (min-width: 768px) {
    width: 388px;
    height: 549px;
    right: 50px;
    bottom: 310px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 80px;
  }
  @media screen and (min-width: 1440px) {
    right: 130px;
  }
}

.rotating_star {
  position: absolute;
  bottom: 152px;
  left: 16px;
  border-radius: 100%;
  transition: all 0.7s ease-in-out;
  z-index: 51;

  @media screen and (min-width: 430px) {
    bottom: 189px;
    left: 10px;
  }
  @media screen and (min-width: 768px) {
    left: 35px;
    bottom: 310px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 130px;
    left: 550px;
  }
  @media screen and (min-width: 1440px) {
    bottom: 130px;
    left: 630px;
  }
}
