.animation_block {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 2rem;
  @media screen and (min-width: 768px) {
    justify-content: flex-end;
  }
  @media screen and (min-width: 1280px) {
    height: 449px;
  }
}

.lottie {
  width: 60%;
}

.rotating_star {
  position: absolute;
  top: 5%;
  left: 0;
  transition: all 0.7s ease-in-out;
  z-index: 51;
  cursor: pointer;

  @media screen and (min-width: 430px) {
    top: 30%;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    top: 55%;
    left: 10%;
  }
  @media screen and (min-width: 1280px) {
    top: 50%;
    left: -13%;
    transform: translate(0, -50%);
  }
}
