.card {
  /* width: 189px;
  height: 313px; */
  position: relative;
  /* @media screen and (min-width: 768px) {
    width: 216px;
  height: 333px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 401px;
    } */
}

.image {
  width: 188px;
  height: 201px;
  object-fit: cover;
  border-radius: 16px;
  z-index: -1;
  /* margin-bottom: 12px; */
  @media screen and (min-width: 768px) {
    width: 216px;
  height: 229px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 299px;
    /* margin-bottom: 20px; */
    }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 189px;
  height: 202px;
  @media screen and (min-width: 768px) {
  width: 216px;
  height: 230px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 300px;
    }
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-second);
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}
.speciality {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  width: 189px;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  @media screen and (min-width: 768px) {
    width: 216px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
  } 
}
