.wrapper {
 width: 100%;
 
  /* padding-left: 16px; */
  /* display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column; */
  /* @media screen and (min-width: 768px) {
   padding-left: 40px;
  } */

 

  .swiper {
    width: 100%;

    .slide {
      position: relative;
      overflow: hidden;
      width: 189px; 
      height: 313px;
      @media screen and (min-width: 768px) {
        width: 216px;
      height: 333px;
      }
      @media screen and (min-width: 1280px) {
        width: 280px;
      height: 401px;
      }
    }
   
  }

  .navigation {
    display: none;
    @media screen and (min-width: 430px) {
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 28px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 48px;
    }
    

    .navbtn {
      width: 48px;
      height: 48px;
      background: none;
      border: 1px solid var(--lime);
      border-radius: 100%;
      color: var(--lime);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .navbtn:hover {
      background-color: var(--lime);
      color: var(--black);
    }

    .navbtn:nth-of-type(1) {
      transform: rotate(180deg);
    }

    .arrow {
      width: 24px;
      height: 24px;
    }
  }
}
