.password_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}