.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 52px;
  padding: 60px 0;
  max-width: 1180px;

  @media screen and (max-width: 991px) {
    padding: 120px;
  }

  .section_title {
    width: 100%;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
    /* margin-bottom: 32px; */
    margin-top: 2.5rem;
    text-align: left;
  }
  .not_found {
    color: var(--white);
    font-size: 24px;
    padding: 80px 0;
  }
}
