.button {
  width: 100%;
  background-color: var(--lime);
  padding: 1.5rem 0;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 34px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: var(--Violet-light, #aaaedf);
}
.button:active .button:focus {
  background: var(--Violet, #8d83ff);
}
