.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--lime);
  padding: 1.4rem 0;
  color: var(--black);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  border-radius: 34px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-family: 'Fixel Display', sans-serif;
  text-align: center;
}
.button:hover {
  background: var(--Violet-light, #aaaedf);
}
.button:active .button:focus {
  background: var(--Violet, #8d83ff);
}
