.wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;

  .input {
    width: 100%;
    height: 43px;
    max-height: auto;
    padding: 16px;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: sans-serif;
    color: var(--black);
    border-bottom: 1px solid var(--black);
    font-size: 16px;
    font-weight: normal;
    @media screen and (min-width: 430px) {
      font-size: 18px;
    }
  }
  .input::placeholder {
    font-family: sans-serif;
  }

  .white {
    color: #818182;
    border-bottom: 1px solid var(--black);
  }
  .error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: #da3c3c;
    font-weight: normal;
  }
}
