.wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;
  height: 64px;

  .input {
    width: 100%;
    height: 43px;
    padding: 16px;
    background: none;
    border: none;
    outline: none;
    resize: none;
    font-family: sans-serif;
    color: var(--black);
    border-bottom: 1px solid var(--black);
  }
  .input::placeholder {
    font-family: sans-serif;
  }

  .white {
    color: #818182;
    border-bottom: 1px solid #818182;
  }
  .error {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    font-size: 14px;
    color: #da3c3c;
    font-weight: bold;
  }
}
