.page {
  padding-top: 96px;
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-top: 108px;
    padding-bottom: 120px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 129px;
    padding-bottom: 160px;
  }
}
.link {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  color: var(--white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--lime);
}

.error {
  text-align: center;
}

.wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 20px;
  }
  @media screen and (min-width: 1280px) {
    gap: 120px;
  }

  .star_small {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
    }
  }
  .star_large {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
      position: absolute;
      left: 380px;
      bottom: 64px;
    }
  }
  .star_medium {
    display: none;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 60px;
      right: 33px;
      display: block;
    }
    @media screen and (min-width: 1280px) {
      position: absolute;
      top: 0;
      right: 78px;
      display: block;
    }
  }

  .teacher {
    display: flex;
    gap: 32px;
    margin-bottom: 36px;
    @media screen and (min-width: 430px) {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      width: 216px;
    }
    @media screen and (min-width: 1280px) {
      flex-wrap: nowrap;
      width: 380px;
      gap: 60px;
    }

    .card {
      @media screen and (min-width: 430px) {
        height: 202px;
        overflow-y: hidden;
      }
      @media screen and (min-width: 768px) {
        overflow-y: auto;
        height: auto;
      }
    }
    .about {
      display: none;
      @media screen and (min-width: 430px) {
        width: 189px;
        display: block;
        margin-bottom: 40px;
      }
      @media screen and (min-width: 768px) {
        display: none;
      }
      .about_name {
        font-size: 18px;
        font-weight: 500;
        color: var(--white-second);
        margin-bottom: 8px;
      }
      .about_speciality {
        font-size: 16px;
        color: var(--white);
        font-weight: 400;
      }
    }

    .speciality {
      font-size: 16px;
      color: var(--white);
      font-weight: 400;
    }
    .icons {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media screen and (min-width: 430px) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      @media screen and (min-width: 1280px) {
        flex-direction: column;
      }
      .social__link {
        width: 40px;
        height: 40px;
        transition: transform 0.3s ease-in-out;
      }
      .social__link_instagram {
        width: 40px;
        height: 40px;
        color: black;
        background: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out;
      }
      .social__link_instagram_icon {
        width: 35px;
        height: 35px;
        color: black;
        font-weight: bold;
        transition: transform 0.3s ease-in-out;
      }
      .social__link:hover,
      .social__link:focus {
        color: var(--lime);
      }
      .social__link_instagram:hover,
      .social__link_instagram:focus {
        background: var(--lime);
      }
    }
  }
}
