.page {
  min-height: calc(100vh - 80px);
  margin-top: 10vh;
}
.link {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  color: var(--white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--lime);
}

.error {
  text-align: center;
}

.wrapper {
  background: url(/stars_bg.png) no-repeat;
  background-size: cover;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  gap: 100px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .teacher {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) {
      justify-content: flex-start;
      align-items: flex-start;
    }

    .card {
      @media screen and (min-width: 768px) {
        flex: 1;
      }
    }
    .icons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      @media screen and (min-width: 768px) {
        flex-direction: column;
      }
    }
  }
}
