.wrapper {
  position: relative;
  width: 100%;
}

.teachers_content {
  padding: 40px 60px;
  max-width: 1120px;
}

.teachers_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
