.about__container {
  position: relative;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 90px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 40px;
  }

  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(32 / 24);

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: calc(48 / 32);
  }
}

.description {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);

  @media screen and (min-width: 768px) {
    width: 580px;
    margin-bottom: 44px;
  }
}

.btn {
  display: inline-block;
  width: 100%;
  height: 60px;
  background-color: var(--lime);
  border-radius: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  cursor: pointer;
  border: none;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 380px;
  }
}

.btn:hover,
.btn:focus {
  background-color: var(--violet-light);
}

.btn:active {
  background-color: var(--violet);
}

.about__wrapper {
  width: 189px;
  height: auto;
  padding: 20px 12px;
  background-color: var(--graphite);
  color: var(--white);
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    width: 268px;
    padding: 20px;
    background-color: var(--violet-light);
    color: var(--black);
  }

  @media screen and (min-width: 1440px) {
    width: 284px;
    padding: 20px 20px;
    height: 181px;
  }
}

.about__rightSide {
  position: relative;
  display: flex;
  column-gap: 16px;
  row-gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);

  @media screen and (min-width: 768px) {
    column-gap: 20px;
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 16px;
  }
}

.text {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(28 / 20);

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
}

.wrapper__time {
  height: 172px;

  @media screen and (min-width: 768px) {
    width: 200px;
  }

  @media screen and (min-width: 1440px) {
    height: 181px;
  }
}

.wrapper__seat {
  position: absolute;
  bottom: -40px;
  display: flex;
  gap: 16px;
  height: 72px;

  @media screen and (min-width: 768px) {
    width: 180px;
    bottom: 0;
    right: -200px;
    gap: 10px;
  }

  @media screen and (min-width: 1440px) {
    width: 284px;
    bottom: -100px;
    right: 0;
  }
}

.timeText {
  margin-bottom: 10px;
  font-weight: 400;
}
