.about__container {
  position: relative;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 90px;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    margin-bottom: 80px;
    gap: 40px;
  }

  @media screen and (min-width: 1280px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(32 / 24);

  @media screen and (min-width: 768px) {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: calc(48 / 32);
  }
}

.description {
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);

  @media screen and (min-width: 768px) {
    margin-bottom: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 580px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: var(--black);
  background-color: var(--lime);
  border-radius: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  cursor: pointer;
  border: none;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 430px) {
    width: 380px;
  }
}

.btn:hover,
.btn:focus {
  background-color: var(--violet-light);
}

.btn:active {
  background-color: var(--violet);
}

.about__wrapper {
  width: 65%;
  padding: 12px 12px;
  background-color: var(--graphite);
  color: var(--white);
  border-radius: 12px;

  @media screen and (min-width: 768px) {
    /* width: 268px; */
    padding: 20px;
    background-color: var(--violet-light);
    color: var(--black);
  }

  @media screen and (min-width: 1280px) {
    /* width: 284px; */
    padding: 20px 20px;
    min-height: 181px;
  }
}



.about__rightSide {
  width: 100%;
  
  display: flex;
  column-gap: 16px;
  row-gap: 20px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);

  @media screen and (min-width: 768px) {
    position: relative;
   width: 688px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 16px;
    padding-top: 20px;
  }
}

.text {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(28 / 20);

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
}

.wrapper__time {
  @media screen and (min-width: 430px) {
    width: 47.5%;
    /* height: 172px; */
  }

  @media screen and (min-width: 768px) {
    width: 31%;
  }

  @media screen and (min-width: 1280px) {
    /* min-height: 181px; */
    width: 200px;
  }
}
.wrapper__price {
  width: 100%;
  @media screen and (min-width: 430px) {
    width: 47.5%;
  }

  @media screen and (min-width: 768px) {
    width: 34%;
  }

  @media screen and (min-width: 1280px) {
    width: 284px;
  }
}

.wrapper__seat {
  width: 30%;
  position: absolute;
 bottom: 228px;
 right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  text-align: center;

  @media screen and (min-width: 430px) {
    width: 47.5%;
    bottom: -90px;
   left: 0;
    height: 72px;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
  }

  @media screen and (min-width: 585px) {
    bottom: -90px;
   
  }

  @media screen and (min-width: 768px) {
    width: 30%;
    left: 480px;
   bottom: 0;

  }

  @media screen and (min-width: 1280px) {
    position: relative;
    left: 0;
    width: 284px;
    min-height: 72px;
    right: 0;
  }
}

.text__seat {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(28 / 20);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
}

.timeText {
  margin-bottom: 10px;
  font-weight: 400;
}
