.about__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
  line-height: calc(48 / 32);
}

.description {
  width: 580px;
  margin-bottom: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
}

.btn {
  display: inline-block;
  width: 380px;
  height: 60px;
  background-color: var(--lime);
  border-radius: 34px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  cursor: pointer;
  border: none;
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--violet-light);
}

.btn:active {
  background-color: var(--violet);
}

.about__wrapper {
  height: 181px;
  padding: 20px;
  background-color: var(--violet-light);
  color: var(--black);
  border-radius: 12px;
}

.about__rightSide {
  display: flex;
  column-gap: 16px;
  row-gap: 20px;
  /* gap: 16px; */
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(21 / 14);
}

.text {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(36 / 24);
}

.wrapper__seat {
  width: 284px;
  display: flex;
  gap: 16px;
  height: 72px;
}

.timeText {
  margin-bottom: 10px;
  font-weight: 400;
}

/* .seattext {
    width: 284px;
} */
