.course__container {
  padding-top: 32px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 48px;
  padding-bottom: 48px;
  }
}

.link {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  color: var(--white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.link:hover,
.link:focus {
  color: var(--lime);
}

.error {
  text-align: center;
}
