.title {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(36 / 24);

  @media screen and (min-width: 1280px) {
    margin-bottom: 52px;
  }
}

.question__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.question__item {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(27 / 18);
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  background-color: inherit;
  border: none;
}

.answer {
  padding-top: 10px;
  padding-left: 44px;
}
