.tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;

  .tabs_container {
    display: flex;
    justify-content: start;
    gap: 1rem;

    .tab {
      width: 169px;
      height: 48px;
      border-radius: 2rem;
      background: var(--graphite);
      border: 1px solid transparent;
      outline: none;
      color: var(--white);
      font-size: 16px;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .tab:hover {
      background: transparent;
      border: 1px solid var(--graphite);
    }
    .active {
      background: var(--violet);
      color: var(--black);
      transition: all 0.3s ease;
    }
    .active:hover {
      background: var(--lime);
    }
  }
  .content {
    max-width: 676px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    .content_title {
      font-size: 24px;
      font-weight: 500;
    }

    .content_paragraph {
      font-size: 16px;
    }
    .tags {
      display: flex;
      justify-content: start;
      gap: 1rem;

      .tag {
        min-width: 122px;
        height: 40px;
        border-radius: 2rem;
        background: none;
        border: 1px solid var(--white);
        outline: none;
        color: var(--white);
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 12px;
      }
      .first {
        border: 1px solid transparent;
        background: var(--graphite);
      }
    }
  }
}
