.hero {
  position: relative;
  width: 100%;
  height: 606px;
  padding: 40px 16px;
  @media screen and (min-width: 430px) {
    height: 872px;
    padding: 104px 16px 60px 16px;
  }
  @media screen and (min-width: 768px) {
    height: 1219px;
    padding: 112px 40px 173px 40px;
  }
  @media screen and (min-width: 1280px) {
    height: 630px;
    padding: 80px 50px;
  }
  @media screen and (min-width: 1440px) {
    height: 630px;
    padding: 80px 130px;
  }
}

.paragraph {
  position: absolute;
  bottom: 40px;
  left: 16px;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  @media screen and (min-width: 430px) {
    bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    font-size: 24px;
    bottom: 173px;
    left: 40px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 80px;
    left: 50px;
  }
  @media screen and (min-width: 1440px) {
    left: 130px;
  }
}
