.hero {
  position: relative;
  /* margin-top: 80px; */
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  @media screen and (min-width: 768px) {
    flex-direction: column;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    min-height: 80vh;
    height: calc(100vh - 80px);
  }
}

.paragraph {
  position: absolute;
  bottom: 0;
  left: 6%;
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    bottom: 4%;
    /*left: 5%;*/
  }
  @media screen and (min-width: 1280px) {
    bottom: 10%;
    left: 4%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    bottom: 10%;
    left: 9%;
  }
}
