.course__container {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    padding-top: 80px;
    flex-wrap: nowrap;
  }

  @media screen and (min-width: 1280px) {
    gap: 100px;
  }
}

.sideBar {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media screen and (min-width: 430px) {
    gap: 20px;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    width: 200px;
  }
}
.sideBar__item {
  width: 136px;
  padding: 10px 0;
  border-radius: 34px;
  border: 1px solid var(--graphite);
  background-color: var(--graphite);
  text-align: center;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 430px) {
    width: 189px;
  }

  @media screen and (min-width: 768px) {
    width: 200px;
  }
}

.sideBar__item:hover {
  background-color: var(--black);
  border: solid 1px var(--white);
}

.active__item {
  background-color: var(--violet-light);
  color: var(--black);
}

.active__item:hover {
  background-color: var(--violet-light);
}

.topic__decsription {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 28px;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    margin-bottom: 52px;
  }
}

.topic__text {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
}

.topic__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 80px;
}

.topic__item {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  width: 100%;
  @media screen and (min-width: 1280px) {
    width: 400px;
  }
}

.topic__item:not(:last-child) {
  margin-bottom: 16px;
}

.teachers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 60px;
  column-gap: 20px;
}

.teachers__item {
  position: relative;
}

.teachers__image {
  border-radius: 16px;
}

.teachers__name {
  width: 280px;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: calc(36 / 24);
}

.teachers__speciality {
  width: 280px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
}

.teachers__mask {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
}
