.container {
  padding: 40px 64px;
}

.container1 {
  display: flex;
  justify-content: space-between;
  min-height: 377px;
  margin-bottom: 40px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--black-admin);
  margin-bottom: 32px;
}

.leftPart {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-content: space-between;
  padding: 40px 20px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.wrapper__color {
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 7.2px;
}

.title__color {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.rightPart {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
  padding: 40px 20px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.textarea {
  margin-bottom: 40px;
}

.container2 {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.flex__element {
  padding: 20px 20px 34.6px 20px;
  background-color: var(--white);
  border-radius: 16px;
  box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.wrapper__description {
  min-height: 520px;
  width: 317px;
}
.wrapper__price {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 40px;
  width: 317px;
  height: 243px;
}

.wrapper__date {
  margin-bottom: 20px;
}

.wrapper__places {
  height: 136px;
  width: 317px;
}

.btt__form {
  display: flex;
  justify-content: center;
  gap: 20px;
}