.about {
  box-sizing: border-box;
  @media screen and (min-width: 1440px) {
    /*width: 1180px;*/
    padding-top: 7.5rem;
  }
  @media (min-width: 1025px) and (max-width: 1339px) {
    padding-top: 6.5rem;
  }
  @media (min-width: 501px) and (max-width: 1024px) {
    padding-top: 6.5rem;
  }
  @media screen and (max-width: 500px) {
    padding-top: 3.75rem;
  }
}

.about_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-top: 3.75rem;
  margin-bottom: 6.25rem;
  @media screen and (max-width: 620px) {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5.2rem;
    gap: 3.75rem;
  }
}
.about_content {
  margin-left: 0;
  display: none;
}
@media (min-width: 1290px) {
  .about_content {
    display: flex;
  }
}
.main_goals {
  max-width: 781px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @media screen and (max-width: 500px) {
    font-size: 20px;
    gap: 2.25rem;
  }
}
.about_us {
  display: none;
}
@media (max-width: 1290px) {
  .about_us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    max-width: 100%;
  }
}

.main_text {
  font-family: Oswald;
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  margin: 3.75rem 0;
  width: 1000px;
  letter-spacing: 0;
  @media screen and (max-width: 920px) {
    width: 640px;
  }
  @media screen and (max-width: 620px) {
    text-align: center;
    width: 470px;
  }
  @media screen and (max-width: 431px) {
    text-align: center;
    width: 394px;
    font-size: 30px;
  }

  @media screen and (max-width: 321px) {
    width: 300px;
    font-size: 25px;
  }
}

.hands_middle {
  display: inline-block;
  padding-left: 0.5rem;
  @media screen and (max-width: 620px) {
    display: none;
  }
}
.hands_end {
  display: none;
  @media screen and (max-width: 620px) {
    display: block;
    text-align: center;
  }
}

.secondary_goals {
  width: 50%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  @media (max-width: 1023px) {
    width: 100%;
  }
}

.text_highlight {
  color: #beed3b;
}

.about_subtitle {
  font-size: 16px;
  font-weight: 400;
}
.description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 2.5rem;

  @media (min-width: 1246px) {
    height: 120px;
  }
  @media (max-width: 988px) {
    height: 175px;
  }
  @media (max-width: 938px) {
    height: 185px;
  }
  @media (max-width: 800px) {
    height: 200px;
  }
  @media (max-width: 640px) {
    height: 220px;
  }
  @media (max-width: 620px) {
    height: 140px;
  }
  @media (max-width: 431px) {
    height: 168px;
  }
  @media (max-width: 320px) {
    font-size: 14px;
  }
}
.description_item {
  list-style-type: disc;
  list-style-position: inside;
}
.description_text {
  color: #f9f9fa;
}
.pulse {
  position: absolute;
  top: -13px;
  right: 0;
  width: 161px;
  height: 126.344px;
}
@media (max-width: 1023px) {
  .pulse {
    display: none;
  }
}
.wow {
  position: absolute;
  top: 35px;
  right: 38px;
  width: 142.1px;
  height: 68.925px;
}
@media (max-width: 1023px) {
  .wow {
    display: none;
  }
}
