@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* @font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-Thin.woff') format('woff');
  font-weight: thin;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-Light.woff') format('woff');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-Medium.woff') format('woff');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fixel Display';
  src: url('../assets/fonts/FixelDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
} */

:root {
  --white: #f9f9fa;
  --lightgray: #dbdbdc;
  --gray: #959596;
  --graphite: #1d1d1e;
  --black: #09090a;
  --lime: #beed3b;
  --aquamarine: #03aa89;
  --blue: #2928e3;
  --violet: #8d83ff;
  --violet-light: #aaaedf;
  --rose: #fed1ce;
  --rose-light: #ffecd0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  /* font-family: 'Fixel Display', sans-serif; */
  font-weight: 200;
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--black);
}

a {
  font-family: inherit;
}

.title {
  font-weight: 100;
  font-family: 'Oswald';
  color: var(--white);
  background-color: var(--black);
}

.title {
  font-family: Oswald;
  font-size: 40px;
  font-weight: 500;
  line-height: 150%; /* 60px */
  text-transform: uppercase;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 100px 130px;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}
