.parents {
  position: relative;
  color: var(--white);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 95px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.parents__container {
  padding: 0 16px;
  @media screen and (min-width: 430px) {
    padding: 0;
  }
}

.parents__title {
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.thumb {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;


  @media screen and (min-width: 768px) {
    justify-content: end;
  }
  @media screen and (min-width: 1280px) {
    justify-content: start;
    gap: 220px;
  }
}

.wrapper {
  width: 95vw;
  position: relative;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  border-radius: 12px;
  background-color: var(--violet-light);
  color: var(--black);

  @media screen and (min-width: 430px) {
    padding-top: 148px;
    min-height: 231px;
  }

  @media screen and (min-width: 768px) {
    min-height: 152px;
    padding: 80px 36px 20px 36px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 480px;
    height: 207px;
    padding: 124px 20px 20px 20px;
  }
}

.parents__text {
  font-weight: 400;
  margin-bottom: 24px;
  @media screen and (min-width: 430px) {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    max-width: 440px;
  }
}

.contacts {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  @media screen and (min-width: 430px) {
    gap: 12px;
  }

  @media screen and (min-width: 768px) {
    gap: 15px;
    justify-content: center;
  }
  @media screen and (min-width: 1280px) {
    justify-content: start;
    gap: 55px;
    margin: 0;
  }
}

.contact__item {
  gap: 12px;
}

.contact__text {
  font-size: 12px;
  margin-bottom: 5px;
  @media screen and (min-width: 430px) {
    font-size: 14px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}

.contact__link {
  font-size: 16px;
  display: flex;
  gap: 5px;
  @media screen and (min-width: 430px) {
    font-size: 18px;
    gap: 10px;
  }
}

.lineIcon1 {
  display: none;
  @media screen and (min-width: 430px) {
    display: block;
    position: absolute;
    right: 72px;
    top: 29px;
    z-index: 0;
  }
  @media screen and (min-width: 768px) {
    right: 99px;
    top: 50px;
  }
  @media screen and (min-width: 1280px) {
    right: 5px;
    top: 75px;
  }
}

.lineIcon2 {
  position: absolute;
  bottom: 50px;
  left: -0px;
  @media screen and (min-width: 430px) {
    bottom: 65px;
  }
  @media screen and (min-width: 768px) {
    bottom: -15px;
    left: 5px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 65px;
    left: -0px;
  }
}

.star1 {
  position: absolute;
  top: 135px;
  left: 160px;
  @media screen and (min-width: 430px) {
    top: 120px;
  }
  @media screen and (min-width: 768px) {
    top: 125px;
    left: 157px;
  }
  @media screen and (min-width: 1280px) {
    top: 100px;
    left: 167px;
  }
}

.star2 {
  position: absolute;
  right: 25px;
  top: 37px;
  z-index: 0;
  @media screen and (min-width: 430px) {
    right: 185px;
  }
  @media screen and (min-width: 768px) {
    right: 210px;
    top: 53px;
  }
  @media screen and (min-width: 1280px) {
    right: 125px;
    top: 80px;
  }
}

.star3 {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 55px;
    top: 70px;
  }

  @media screen and (min-width: 1280px) {
    position: absolute;
    left: 370px;
    top: 150px;
  }
}

.question__list {
  max-width: 452px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 180px;
  @media screen and (min-width: 430px) {
    padding-bottom: 220px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 79px;
  }
}

.question__text {
  font-size: 16px;
  @media screen and (min-width: 430px) {
    font-size: 20px;
    font-weight: 500;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

.answer {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
}

.ansver__text {
  padding-top: 20px;
}

.question__item {
  position: relative;
  width: 100%;
  padding: 16px 0;
  border-bottom: solid 1px var(--white);
  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 0 19px 0;
    width: 480px;
  }
}
.question__item:first-child {
  @media screen and (min-width: 1280px) {
    padding-top: 0;
  }
  
}

.btn {
  position: absolute;
  right: 0;
 top: 10px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.wrapper__rotatingStar {
  position: absolute;
  bottom: 60px;
  left: 50%;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    bottom: 90px;
    position: relative;
    position: absolute;
    top: 650px;
    left: 15%;
  }

  @media screen and (min-width: 1280px) {
    left: 11%;
    top: 500px;
    bottom: 120px;
  }

  @media screen and (min-width: 1440px) {
    left: 15%;
  }
}
