.label {
    position: relative;
    height: 40px;
}
.input {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.span {
position: absolute;
top: 0;
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
z-index: 2;
pointer-events: none;
border: none;
}

.input:checked ~ span {
    border: solid 2px #161618;
}

.active__span {
    border: solid 2px #161618;
}

.icon {
    display: none;
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 3;
}

.input:checked ~ .icon {
    display: block;
} 