.wrapper__color {
    height: 72px;
    display: flex;
    flex-wrap: wrap;
    gap: 7.2px;
}

.title__color {
width: 100%;
font-size: 16px;
font-weight: 400;
margin-bottom: 8px;
}

.label {
    position: relative;
    display: block;
    height: 40px;
}
.input {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.span {
position: absolute;
top: 0;
display: block;
width: 40px;
height: 40px;
border-radius: 50%;
z-index: 2;
pointer-events: none;
border: none;
}

.input:checked ~ span {
    border: solid 2px #161618;
}

.active__span {
    border: solid 2px #161618;
}

.icon {
    display: none;
    position: absolute;
    top: 13px;
    left: 13px;
    z-index: 3;
}

.input:checked ~ .icon {
    display: block;
} 

.error {
    font-size: 14px;
    color: #da3c3c;
    font-weight: normal;
  }