.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100svw;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: var(--black);
  z-index: 9999;

  @media screen and (min-width: 768px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0 50px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 130px;
  }
}
.header_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  .header_burger {
    display: block;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.header_nav ul {
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 40px;
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.header_nav_item {
  color: var(--white);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  white-space: nowrap;
}

.header_nav_item:hover {
  color: var(--lime);
  cursor: pointer;
}

.header_logo {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  color: var(--lime);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.container {
  width: 1180px;
  display: flex;
  justify-content: space-between;
}

.btmSwitcher {
  font-size: 16px;
  color: var(--gray);
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.btmSwitcher__active {
  color: var(--violet-light);
}

.span {
  display: inline-block;
  padding: 0 3px;
  font-size: 17px;
  color: var(--gray);
}

.switch {
  width: 100px;
}
