.partners {
  position: relative;
  padding-top: 60px;
  /* padding-bottom: 38px; */
  @media screen and (min-width: 768px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.icon__eye {
  width: 168px;
  height: 106px;
  margin: 0 auto 25px auto;
}

.icon__arrow {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    right: 30px;
    top: 260px;
  }

  @media screen and (min-width: 1440px) {
    right: 0px;
  }
}

.icon__arrowTablet {
  display: none;
  @media screen and (min-width: 768px) {
    position: absolute;
    left: 86%;
    transform: translateX(-86%);
    top: 590px;
    display: flex;
    align-items: center;
    display: block;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.partners__title {
  margin: 0 auto 24px auto;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    margin: 0 auto 25px auto;
  }
  @media screen and (min-width: 1280px) {
    max-width: 450px;
    margin: 0 auto 25px auto;
  }
}

.partners__question {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

.icon__fire {
  margin-bottom: 20px;
}
.partners__text {
  width: 300px;
  margin: 0 auto;
  font-size: 16px;
  line-height: calc(24 / 16);

  @media screen and (min-width: 768px) {
    width: 480px;
  }

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.partners__list {
  text-align: center;
  font-size: 16px;
  line-height: calc(24 / 16);
  max-width: 480px;
  margin: 0 auto 430px auto;
  @media screen and (min-width: 768px) {
    margin: 0 auto 380px auto;
  }
  @media screen and (min-width: 1280px) {
    margin: 0 auto;
  }
}

.part__left {
  text-align: center;
  color: var(--white);

  @media screen and (min-width: 1280px) {
    position: relative;
    width: 570px;
    height: 706px;
    padding: 45px 31px 45px 0;
  }
}

.part__right {
  width: 100vw;
  height: 400px;
  position: absolute;
  right: 50%;
  bottom: 0px;
  transform: translateX(50%);
  text-align: center;

  @media screen and (min-width: 1280px) {
    width: 700px;
    height: 708px;
    right: 0px;
    transform: translateX(0);
    bottom: 120px;

    color: var(--black);
  }
}

.swiperSlide {
  width: 80%;
  height: 400px;
  padding: 20px 10px;
  color: var(--black);
  margin: 0 auto;
  border: none;

  @media screen and (min-width: 430px) {
    width: 400px;
    padding: 45px 40px 45px 30px;
  }

  @media screen and (min-width: 768px) {
    width: 45%;
    max-width: 450px;
  }
  @media screen and (min-width: 1280px) {
    width: 710px;
    max-width: 710px;
    height: 708px;
    padding: 80px 98px;
  }
}

.partners__logo {
  @media screen and (min-width: 1280px) {
    width: 320px;
    height: 320px;
    margin-bottom: 40px;
  }
}

.partners__description {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 9px;
  text-align: center;

  @media screen and (min-width: 1280px) {
    width: 509px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.partners__name {
  font-size: 13.56px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(36 / 24);
  @media screen and (min-width: 1280px) {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
}

.swiper__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--black);

  @media screen and (min-width: 1280px) {
    align-items: flex-start;
  }
}

.swiper__link:hover {
  color: var(--blue);
}

.link__icon {
  display: flex;
  align-items: center;
  width: 17px;
  height: 17px;

  @media screen and (min-width: 1280px) {
    width: 30px;
    height: 30px;
  }
}

.icons {
  fill: currentColor;
  width: 30px;
  height: 30px;
}

.icon {
  position: absolute;
  right: 30px;
  bottom: 3px;

  @media screen and (min-width: 430px) {
    right: 105px;
    bottom: 3px;
  }

  @media screen and (min-width: 768px) {
    right: 35px;
    bottom: 3px;
  }
}
