.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 20px 16px;
  @media screen and (min-width: 768px) {
    padding: 20px 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 20px 50px;
  }
  @media screen and (min-width: 1440px) {
    padding: 20px 130px;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  color: var(--white);
  margin-top: 10vh;

  .title_wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 32px;
      font-weight: 500;
      margin-right: 1.1rem;
    }
    .subtitle {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    padding: 0.5rem;

    .button_wrapper {
      margin-top: 60px;

      .button {
        width: 80vw;
        max-width: 380px;
        height: 60px;
        border-radius: 2rem;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--graphite);
        font-size: 16px;
        color: var(--gray);
        cursor: pointer;
      }
      .button:hover {
        background: var(--violet);
        color: var(--black);
      }
      .button:disabled {
        background: var(--graphite);
        color: var(--gray);
        cursor: not-allowed;
      }
      .button:disabled:hover {
        background: var(--graphite);
        color: var(--gray);
        cursor: not-allowed;
      }
      .active {
        background: var(--lime);
        color: var(--black);
      }
    }
  }
  .sun_wrapper {
    position: absolute;
    top: 50%;
    right: -20%;
    display: none;
    transform: translateY(-50%);
    .sun {
      width: 100%;
      height: 100%;
      animation: spin 10s linear infinite;
    }
    @media screen and (min-width: 768px) {
      display: block;
      right: -45%;
    }
    @media screen and (min-width: 850px) {
      display: block;
      right: -50%;
    }
    @media screen and (min-width: 991px) {
      display: block;
      right: -40%;
    }
    @media screen and (min-width: 1280px) {
      display: block;
      right: -20%;
    }
    @media screen and (min-width: 1440px) {
      display: block;
      right: -20%;
    }
  }
  .stars_wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 28%;
    overflow: hidden;
    z-index: -1;
    transform: rotate(90deg) translateY(25%) translateX(-28%);
    transform-origin: bottom right;
    @media screen and (min-width: 1024px) {
      transform: none;
    }
    .stars {
      width: 80%;
      height: 80%;
      object-fit: contain;
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
  .check_wrapper {
    margin-top: 40px;
    font-size: 14px;
    display: flex;
    gap: 12px;
    padding: 0.5rem;

    .check_paragraph {
      text-align: left;
      color: #dbdbdc;
      .check_link {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
        
      }
      .check_link:hover,
      .check_link:focus {
        color: var(--blue);
       
      }
    }
    .checkbox_container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .check_checkbox {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 15%;
      height: 24px;
      width: 24px;
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--white);
      z-index: 5;
    }

    .checkbox_container:hover .check_checkbox ~ .checkmark {
      transform: scale(1.1);
    }

    .checkbox_container .check_checkbox:checked ~ .checkmark {
      background-color: transparent;
    }

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    .checkbox_container .check_checkbox:checked ~ .checkmark:after {
      display: block;
    }

    .checkbox_container .checkmark:after {
      left: 20%;
      top: 5%;
      width: 12.34px;
      height: 9.77px;
      border: 1px solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(240deg);
  }
}
