.title_block {
  position: relative;
  width: 100%;

  /* display: flex;
  justify-content: center;
  align-items: flex-start; */

  @media screen and (min-width: 768px) {
    /* height: 308px; */
  }
  @media screen and (min-width: 1280px) {
    /* height: 449px; */
  }
}

.title_block_title {
  position: absolute;
  top: 30%;
  left: 0;
  width: 45vw;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  color: var(--white);
  text-transform: uppercase;
  z-index: 50;
  @media screen and (min-width: 430px) {
    width: 50vw;
    font-size: 60px;
    line-height: 72px;
  }
  @media screen and (min-width: 768px) {
    font-size: 90px;
    line-height: 90px;
    left: 0px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 80px;
    top: 10%;
  }
}

.star_green {
  position: absolute;
  top: -15px;
  left: 20%;
  animation: spin 5s linear infinite;
  /* width: 100%; */
  @media screen and (min-width: 430px) {
    top: -40px;
    left: 24%;
  }
  @media screen and (min-width: 768px) {
    top: -25px;
    left: 26%;
  }
  @media screen and (min-width: 1280px) {
    top: -35px;
    left: 13%;
  }
}

.star_violet {
  position: absolute;
  top: 155px;
  left: -5px;
  animation: spin 5s linear infinite;
  width: 30%;
  @media screen and (min-width: 430px) {
    top: 215px;
    left: 5px;
  }
  @media screen and (min-width: 768px) {
    top: 300px;
    left: -30px;
  }
  @media screen and (min-width: 1280px) {
    top: 280px;
    left: -110px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-240deg);
  }
}
