.courses__container {
  padding-top: 73px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.wrapper {
  position: relative;
  display: flex;

  gap: 20px;
  padding-bottom: 60px;

  @media screen and (min-width: 430px) {
    padding-bottom: 0;
    align-items: center;
    margin-bottom: 36px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    gap: 120px;
  }
}

.titleCourses {
  max-width: 257px;
  font-size: 30px;
  @media screen and (min-width: 430px) {
    max-width: 65%;
  }
  @media screen and (min-width: 768px) {
    max-width: 100%;
    font-size: 40px;
  }
}

.animation {
  position: absolute;
  right: 0;
  bottom: -20px;
  width: 120px;
  @media screen and (min-width: 430px) {
    position: relative;
    bottom: -5px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    width: 235px;
    display: block;
  }
}

.courses {
  color: var(--white);
  margin-bottom: 100px;
  width: 100%;
}

.courses__item {
  min-height: 160px;
  position: relative;
  padding: 30px 0 0 0;
  border-bottom: 1px solid var(--white);
  transition: all 700ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 430px) {
    min-height: 150px;
    padding: 40px 0 20px 0;
  }

  @media screen and (min-width: 768px) {
    min-height: 180px;
    padding: 40px 0 20px 0;
  }
}

.thumb__title {
  display: flex;
  align-items: baseline;
  gap: 20px;
}

.icon__title {
  opacity: 0;
}

.courses__link:hover .icon__title,
.courses__link:focus .icon__title {
  opacity: 1;
}

.courses__description {
  position: absolute;
  top: 90px;
  opacity: 0;
  font-size: 16px;
  @media screen and (min-width: 768px) {
    top: 100px;
  }

  @media screen and (min-width: 1280px) {
    width: 85%;
  }
}

.courses__link:hover .courses__description,
.courses__link:focus .courses__description {
  @media screen and (min-width: 1280px) {
    opacity: 1;
  transition: opacity 700ms ease-in-out;
  }
 
}

/* .components {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 12px;

  @media screen and (min-width: 768px) {
    bottom: 40px;
  }
} */

.components__list {
  display: flex;
  gap: 12px;
  overflow-x: hidden;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: calc(48 / 32);

  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}

.courses__link:hover .title,
.courses__link:focus .title {
  color: var(--rose);
  transition: margin-bottom 600ms ease-in-out;

  @media screen and (min-width: 1280px) {
    margin-bottom: 90px;
  }
}

.components__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 35px;
  border: 1px solid var(--white);
}

/* .components__element {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 35px;
  background: var(--graphite);
} */


.thumb {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  background: var(--violet-light);
  color: black;
  @media screen and (min-width: 768px) {
    max-width: 687px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 897px;
    padding: 20px 40px;
  }
}

.wrapper__test {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    width: 53%;
  }

  @media screen and (min-width: 1280px) {
    width: 55%;
  }
}

.test {
  font-size: 20px;
  @media screen and (min-width: 430px) {
    font-size: 24px;
    font-weight: 500;
    line-height: calc(36 / 24);
  }
  @media screen and (min-width: 768px) {
    width: 280px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  position: relative;
  z-index: 1;
}

.test__link {
  width: 200px;
  padding: 10px 24px;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(24 / 16);
  border-radius: 34px;
  border: 1px solid var(--graphite);
  background: var(--graphite);
  color: var(--white);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.test__link:hover,
.test__link:focus {
  background-color: var(--black);
}

.test__link:active {
  background-color: inherit;
  border: none;
  color: var(--black);
}

.icon__line1 {
  position: absolute;
  width: 70px;
  height: 60px;
  top: 35px;
  left: 110px;
  z-index: 2;
  @media screen and (min-width: 430px) {
    left: 250px;
  }
  @media screen and (min-width: 768px) {
    width: 124px;
    height: 70px;
    top: 105px;
    left: 100px;
  }
  @media screen and (min-width: 1280px) {
    top: 79px;
    left: 200px;
  }
}

.icon__line2 {
  position: absolute;
  transform: rotate(-90deg);
  right: 10px;
  bottom: 40px;
  @media screen and (min-width: 430px) {
    width: 70px;
    height: 90px;
    bottom: -5px;
    right: 70px;
    transform: rotate(110deg);
  }
  @media screen and (min-width: 768px) {
    width: 152px;
    bottom: -10px;
    right: -30px;
    transform: rotate(100deg);
  }
  @media screen and (min-width: 1280px) {
    bottom: -10px;
    right: 0px;
    transform: rotate(100deg);
  }
}

.icon__star1 {
  position: absolute;
  bottom: 20px;
  right: 26px;
  @media screen and (min-width: 430px) {
    bottom: 100px;
    right: 40px;
  }
  @media screen and (min-width: 768px) {
    bottom: 80px;
    right: 40px;
  }
  @media screen and (min-width: 1280px) {
    bottom: 60px;
    right: 150px;
  }
}
.icon__star2 {
  position: absolute;
  right: 23px;
  top: 40px;
  @media screen and (min-width: 768px) {
    right: 583px;
    top: 110px;
  }
  @media screen and (min-width: 1280px) {
    right: 783px;
    top: 90px;
  }
}
.icon__star3 {
  position: absolute;
  top: 53px;
  right: 75px;
  @media screen and (min-width: 430px) {
    top: 65px;
    right: 225px;
  }
  @media screen and (min-width: 768px) {
    top: 80px;
    right: 500px;
  }
  @media screen and (min-width: 1280px) {
    top: 70px;
    right: 600px;
  }
}
