.title {
  margin-bottom: 28px;
  font-size: 20px;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    margin-bottom: 52px;
    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

.wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 216px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 860px;
    flex-wrap: nowrap;
    gap: 100px;
    margin-bottom: 52px;
  }
}

.characteristic {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
}

.characteristic__number {
  color: var(--violet-light);
}

.characteristic__span {
  border: solid 1px var(--violet-light);
  margin-left: 12px;
}

.characteristic__description {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(27 / 18);
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);

  @media screen and (min-width: 430px) {
    max-width: 300px;
  }

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.skills {
  position: relative;
  padding-bottom: 150px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 16px;

  @media screen and (min-width: 430px) {
    column-gap: 0;
    row-gap: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 216px;
    gap: 40px;
    padding: 20px 20px;
    background: var(--graphite);
    /* border-radius: 0; */
  }

  @media screen and (min-width: 1280px) {
    gap: 20px;
    justify-content: space-between;
    width: 779px;
    flex-wrap: nowrap;
    background: var(--graphite);
  }
}

.skills__item {
  background: var(--graphite);
  padding-left: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 16px;

  @media screen and (min-width: 430px) {
    width: 50%;
    border-radius: none;
  }

  @media screen and (min-width: 768px) {
    background: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 12px;
    width: auto;
  }
}

.own__skill {
  @media screen and (min-width: 430px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  @media screen and (min-width: 768px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.time__skill {
  @media screen and (min-width: 430px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  @media screen and (min-width: 768px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.skills__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    border-bottom: solid 1px var(--gray-light);
  }

  @media screen and (min-width: 1280px) {
    padding-right: 20px;
    border-bottom: none;
    border-right: solid 1px var(--gray-light);
  }
}

.skills__name {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: calc(27 / 18);
}

.skills__description {
  width: 180px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
}
