.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .tab {
    min-width: 200px;
    height: 48px;
    color: var(--white);
    border-radius: 2rem;
    background: var(--graphite);
    border: 1px solid transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .tab:hover {
    background: var(--black);
    border: 1px solid var(--white);
  }
  .active {
    background: var(--violet-light);
    color: var(--black);
  }
}
