.wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  .tab {
    min-width: 100px;
    height: 48px;
    color: var(--white);
    border-radius: 2rem;
    background: var(--graphite);
    border: 1px solid transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    transition: all 0.1s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    @media screen and (min-width: 450px) {
      min-width: 200px;
    }
  }
  .tab:hover {
    background: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
  }
  .active {
    background: var(--violet-light);
    color: var(--black);
  }
  .active:hover {
    background: var(--lime);
    color: var(--black);
    border: 1px solid var(--black);
  }
}
