.footer {
  height: 448px;
  
  
  color: var(--white);

  @media screen and (min-width:768px) {
    height: auto;
  }
}

.footer_container {
margin: 0 auto;
padding: 48px 16px;
  position: relative;
  display: flex;
  gap: 35px;
  align-items: flex-start;

  @media screen and (min-width: 430px) {
    width: 430px;
  }

  @media screen and (min-width: 768px) {
    padding: 34px 40px 108px 40px;
    width: 768px;
    gap: 63px;
    align-items: flex-end;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    gap: 87px;
  }
  
}

.footer__wraper {
  width: 180px;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  font-weight: 400;
  line-height: calc(21 / 14);

  @media screen and (min-width: 768px) {
    width: 189px;
   
  }
}

.social__list {
  
  display: flex;
  gap: 20px;

  @media screen and (min-width: 1440px) {
    gap: 44px;
  }
}

.social__link {
  transition: color 0.3s ease-in-out;
}

.social__link:hover,
.social__link:focus {
  color: var(--lime);
}

.spanCopyright {
  display: block;
}
.menu__list {
  width: 180px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(27 / 18);
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__link {
  transition: color 0.3s ease-in-out;
}
.menu__link:hover,
.menu__link:focus {
  color: var(--lime);
}

.footer__contact {
  position: absolute;
  bottom: -105px;
  width: 380px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 16);

  @media screen and (min-width: 768px) {
    position: relative;
    bottom: 0;
    width: auto;
  }

}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 189px;
 

  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
    gap: 64px;
    margin-bottom: 110px;
  }


}

.contact__item {
  width: 180px;
}

.contact__text {
  padding-bottom: 8px;
}

.contact__link {
  display: flex;
  gap: 8px;
  transition: color 0.3s ease-in-out;
}

.contact__link:hover,
.contact__link:focus {
  color: var(--lime);
}

.link__advice {
  display: none;
  @media screen and (min-width: 1440px) {
    display: inline-block;
  margin-left: 300px;
  margin-right: 0;
  width: 280px;
  padding: 10px 0;
  text-align: center;
  font-weight: 500;
  color: var(--black);
  background-color: var(--lime);
  border-radius: 32px;

  transition: all 0.3s ease-in-out;
  }

  
}

.link__advice:hover,
.link__advice:focus {
    background-color: var(--violet-light);
}

.link__advice:active {
    background-color: var(--violet);
}

.thumb__copyrigh {
  position: absolute;
  right: 10px;
  bottom: -105px;
  width: 190px;
  font-size: 12px;

  @media screen and (min-width:768px) {
    width: 200px;
    position: relative;
    right: 0;
    bottom: 0;
    
  }
}

.copyright {
  margin-bottom: 10px;
}