.reviews_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(/reviews/reviews_bg.png) no-repeat;
  background-size: contain;
  background-position: center;
  padding: 100px 0;
  overflow: hidden;
}

.reviews_title {
  color: var(--white);
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-left: 8rem;
}

.swiper {
  width: 100%;
  height: 100%;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.comments_block {
  margin-top: 60px;
  margin-left: 8rem;
  width: 480px;
}

.comments_block_paragraph {
  color: var(--lightgray);
  font-size: 16px;
  margin-bottom: 40px;
}

.comet {
  position: absolute;
  transform: rotate(45deg);
  animation: flight 3s linear infinite;
}

@keyframes flight {
  from {
    top: -10rem;
    right: -10rem;
  }
  to {
    top: 80%;
    right: 100%;
  }
}
