.wrapper {
    padding: 20px;
    width: 318px;
    background-color: var(--white);
    border-radius: 16px;
    margin-bottom: 150px;
    box-shadow: 2px 0 8px rgba(167, 129, 247, 0.2);
}

.title {
    font-size: 24px;
    font-weight: 500;
    color: var(--black-admin);
    margin-bottom: 10px;
  }

  .error {
   
    font-size: 14px;
    color: #da3c3c;
    font-weight: normal;
  }