.container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--adminBG);
}

.wrapper {
  width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 105px;
  color: var(--black);
  padding: 8.5vh 0;
  margin: 0 auto;

  .title_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      font-family: Oswald;
      font-weight: 500;
      font-size: 40px;
      letter-spacing: 0;
      text-transform: uppercase;
      padding-bottom: 1.5rem;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
  }

  .form_wrapper {
    background-color: var(--white);
    border-radius: 29px;
    box-shadow: 0 1px 25px rgb(167, 129, 247, 0.2);
    width: 100%;
    position: relative;
    z-index: 100;

    .form {
      margin: 0 auto;
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 35px 0;
      gap: 30px;

      .button_wrapper {
        margin-top: 45px;

        .button {
          width: 380px;
          height: 60px;
          border-radius: 2rem;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          background: var(--violet-light);
          font-size: 16px;
          font-weight: 600;
          color: var(--white);
          transition: all 0.5s ease-in-out;
          cursor: pointer;
        }

        .button:hover {
          background: var(--blue);
        }

        .button:disabled {
          cursor: not-allowed;
        }

        .button:disabled:hover {
          background: var(--graphite);
          color: var(--gray);
          cursor: not-allowed;
        }
      }
    }

    .form:before {
      position: absolute;
      content: url(../../../public/login/Group_1611.svg);
      display: block;
      top: -23%;
      left: 14%;
      z-index: -10;
      clip-path: inset(0 0 37% 0);
    }
  }
}
