.reset_btn {
  /*padding: 15px 50px;*/
  min-width: 230px;
  border: 3px solid var(--blue);
  background-color: transparent;
  border-radius: 34px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--blue);
  cursor: pointer;
  outline: none; 
  transition: all .5s ease-in-out;
  min-height: 60px;
}

.reset_btn:hover {
  border-color: var(--violet);
  color: var(--violet);
}

.reset_btn:disabled {
  border-color: var(--violet-light);
  color: var(--violet-light);
}

.reset_btn:active {
  border-color: #0000A7;
  color: #0000A7;
}