@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
  --white: #f9f9fa;
  --white-second: #FFFFFF;
  --lightgray: #dbdbdc;
  --gray: #959596;
  --graphite: #1d1d1e;
  --black: #09090a;
  --lime: #beed3b;
  --aquamarine: #03aa89;
  --blue: #2928e3;
  --violet: #8d83ff;
  --violet-light: #aaaedf;
  --rose: #fed1ce;
  --rose-light: #ffecd0;
  --gray-light: #818182;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

body {
  width: 100%;
  font-weight: 200;
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--black);
}

a {
  font-family: inherit;
}

.title {
  font-family: Oswald;
  color: var(--white);
  font-size: 26px;
  font-weight: 500;
  line-height: 150%; /* 60px */
  text-transform: uppercase;
  @media screen and (min-width: 430px) {
    font-size: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 40px;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0px 16px;
  @media screen and (min-width: 768px) {
    padding: 0px 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 0px 50px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0px 130px;
  }
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

.textInput .errorText,
.textArea .errorText {
  font-size: 14px;
}

