.card {
  box-sizing: border-box;
  padding: 2.5rem;
  border-radius: 16px;
  background: var(--Grey-3, #1d1d1e);
  flex-basis: 50%;
  line-height: 150%;
  position: relative;
  @media screen and (max-width: 844px) {
    padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  }
  @media screen and (max-width: 620px) {
    width: 100%;
  }
  @media screen and (max-width: 321px) {
    padding: 1.25rem 0.5rem;
  }
}

.card_title {
  color: var(--w, #f9f9fa);
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  line-height: 150%;

  @media screen and (max-width: 1039px) {
    font-size: 30px;
    text-align: center;
  }
  @media screen and (max-width: 844px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-width: 716px) {
    font-size: 28px;
  }
  @media screen and (max-width: 677px) {
    font-size: 26px;
  }
  @media screen and (max-width: 638px) {
    font-size: 24px;
  }
  @media screen and (max-width: 620px) {
    height: 45px;
    font-size: 30px;
  }
  @media screen and (max-width: 364px) {
    font-size: 26px;
    width: 268px;
    height: 39px;
    margin-bottom: 0.75rem;
  }
}

.card:nth-child(2) .card_title {
  @media screen and (max-width: 320px) {
    justify-content: start;
    align-items: start;
    padding-left: 0.5rem;
  }
}

.card_title_container {
  width: 100%;
}
