.card {
  padding: 2.5rem;
  border-radius: 16px;
  background: var(--Grey-3, #1d1d1e);
  flex-basis: 50%;
  line-height: 150%;
  position: relative;
}
.card_title {
  color: var(--w, #f9f9fa);
  font-family: Oswald;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
