.wrapper {
  min-height: 510px;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;

  .title {
    font-size: 32px;
    font-weight: 500;
  }
  .paragraph {
    font-size: 20px;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;
  }
  .image:hover {
    transform: rotate(15deg);
    cursor: pointer;
  }
}
