.wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;

  .input {
    width: 100%;
    height: 43px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 16px;
    background: none;
    border: none;
    outline: none;
    color: var(--black);
    border-bottom: 1px solid var(--black);

    @media screen and (min-width: 430px) {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .white {
    color: var(--white);
    border-bottom: 1px solid var(--gray-light);
  }

  .error {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 14px;
    color: #da3c3c;
    font-weight: normal;
  }
}
