.wrapper {
  position: relative;
  width: 100%;
  max-width: 580px;
  height: 64px;

  .input {
    width: 100%;
    height: 43px;
    font-size: 18px;
    padding: 0 16px;
    background: none;
    border: none;
    color: var(--white);
    font: 500;
    outline: none;
    color: var(--black);
    border-bottom: 1px solid var(--gray-light);
  }

  .white {
    color: var(--white);
    border-bottom: 1px solid var(--gray-light);
  }

  .error {
    position: absolute;
    top: 80%;
    left: 0;
    font-size: 14px;
    color: #da3c3c;
    font-weight: bold;
  }
}
