.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: var(--graphite);
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .lottie {
    width: 70%;
    height: 60%;
  }
  .title {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    white-space: nowrap;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    font-weight: 500;
  }

  .button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
