.wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background: var(--graphite);
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .lottie {
    margin-top: 120px;
    @media screen and (min-width: 430px) {
      margin-top: 60px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 40px;
      width: 70%;
      height: 60%;
    }
  }

  .title {
    position: absolute;
    bottom: 17%;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-weight: 500;
    @media screen and (min-width: 1280px) {
      white-space: nowrap;
    }
  }

  .button {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}
