.wrapper {
  min-height: 100vh;
  background: var(--graphite);
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;

  .lottie_wrapper {
    position: relative;
    width: fit-content;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    .lottie {
      @media screen and (min-width: 768px) {
        width: 70%;
        height: 60%;
      }
    }

    .title {
      position: absolute;
      bottom: 7%;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-size: 26px;
      font-weight: 500;
    }

    .button {
      position: absolute;
      bottom: -10%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
